{% load i18n %}
{% load bootstrap_icons %}
<p><b>Desktop Client:</b> <a href="https://rustdesk.com/" target="_blank">Download, install, and launch the RustDesk client.</a></p>
<p><strong>RustDesk Server Configuration:</strong> <span id="rustdesk-config"></span></p>
<ol class='mb-2'>
    <li>
        <a href="#"
            onclick="return copyRustDeskConfig('{{ RUST_DESK_CONFIG_EXPORT_STRING }}');">
            Click this link to copy the server configuration to the clipboard.
        </a>
    </li>
    <li>Then click the 'Settings &gt; Network &gt; ID/Relay server &gt; Import server config' icon.
        <ul class='mb-2'>
            <li><b>ID server:</b> {{ RUST_DESK_CONFIG_ID_SERVER }}</li>
            <li><b>Relay server:</b> {{ RUST_DESK_CONFIG_RELAY_SERVER }}</li>
            <li><b>Key:</b> {{ RUST_DESK_CONFIG_SERVER_KEY }}</li>
        </ul>
    </li>
</ol>
<p><strong>VM RustDesk Connection ID:</strong> <span id="rustdesk-id">{{ rust_id }}</span></p>
<p><strong>VM RustDesk Password:</strong> <span id="rustdesk-password"><a href="#"
            data-url="{% url 'instances:rustdesk_pw' instance.id %}"
            onclick="return fetchRustDeskPassword(event, this, this.dataset.url);" title="{% trans " Set RustDesk
            Password" %}">
            Click here to generate and set a new password (for all users with access).
        </a></span></p>
<ul class='mb-2'></ol>
    <li>Copy the password now, it will not be displayed again.</li>
    <li>If you have selected 'Remember password' before, in the menu [ ⋮ ] right of VMs ID select 'Forget password'.</li>
</ul>
        